<div class="tp-posts">
    <% @posts.each_with_index do |post,i| %>
    <div class="post">
        <% if i == 0 %>
        <%= image_tag  post.thumbnail %>
        <% end %>
        <div class="font-ibm created_at post-show-created_at">
            <%= post.created_at.to_s(:long) %>
        </div>
        <%= link_to post_path(post.name) do %>
        <h2 class="post-title"><%= post.title %></h2>
        <% end %>
        <div class="font-ibm tags">
            <% post.tags.split().each do |tag| %>
            <%= link_to tag_path(tag) do %>
            <span class="tag font-bim">
                #<%= tag %>
            </span>
            <% end %>
            <% end %>
        </div>
    </div>
    <% end %>
    <div class="right">
        <%= link_to posts_path do %>
        <button class="btn-f">
            View all posts &gt;&gt;
        </button>
        <% end %>
    </div>
</div>
<div class="tp-tags">
    <h2 class="font-inter ap-t"><span>Find posts.</span></h2>
    <div class="search_area">
        <%= form_with(url: "/searches",method: "get", local: true) do |form| %>
        <%= form.text_field :word,placeholder: "Search...",value: params[:word],class: "search_field" %>
        <% end %>
    </div>
    <h3 class="font-ibm">
        Or do you want to search by tags?
    </h3>
    <div class="right">
        <%= link_to tags_path do %>
        <button class="btn-f">
            Find by tags &gt;&gt;
        </button>
        <% end %>
    </div>
</div>