<% content_for(:html_title) { "All tags" } %>
<% content_for(:page_description) { "You can find all tags on The Lusaca Blog here!" } %>
<h1 class="font-inter ap-t"><span>All tags</span></h1>
<div class="posts" id="posts">
    <% @tags.each do |tag| %>
    <div class="post">
        <%= link_to tag_path(tag.name) do %>
        <h2 class="font-inter">
            #<%= tag.name %>
        </h2>
        <% end %>
        <div class="font-ibm tags">
            <%= tag.descriptions %>
        </div>
    </div>
    <% end %>
</div>
<%= paginate @tags %>
<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
<%= javascript_pack_tag "scrool.js" %>