<div class="search_area">
<%= form_with(url: "/pictures",method: "get", local: true) do |form| %>
    <%= form.text_field :q,placeholder: "Search...",value: params[:word],class: "search_field" %>
<% end %>
</div>
<div class="pictures">
    <% @pictures.each do |picture| %>
    <div>
        <%= link_to  picture.name, picture_path(picture.id) %>
    </div>
    <% end %>
</div>
<%= paginate @pictures %>
<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
<%= javascript_pack_tag "scrool.js" %>