<% content_for(:html_title) { "#{@post.title}の編集" } %>
<div class="editor-area">
    <%= form_with model: @post,method: :patch,local: "true" do |f| %>
    <%= f.text_field :thumbnail,class: "tag-field", placeholder: "Thumbnail URL" %>
    <div class="editor-post-title" contenteditable="true">
        <% if @post.title.include?("\n") %>
        <%= raw(@post.title.gsub!("\n","<br>")) %>
        <% else %>
        <%= @post.title %>
        <% end %>
    </div>
    <%= f.hidden_field :title,id: "post-title" %>
    <%= f.text_field :tags,class: "tag-field", placeholder: "Separate them with spaces.(ex: sample exaple)" %>
    <%= f.text_field :name,class: "tag-field",id: "post-name", placeholder: "/posts/xxx" %>
    <%= f.text_area :description,class: "tag-field", placeholder: "description..." %>
    <div class="editor-tab">
        <button type="button" class="active" id="editor_button">
            Editor
        </button>
        <button type="button" id="preview">
            Preview
        </button>
    </div>
    <div id="editor"><%= @post.content %></div>
    <div class="content-preview">
        preview
    </div>
    <%= f.hidden_field :content,id: "editor_value" %>
    <div class="post-btn-area">
        <%= f.submit "Update",class:"btn-f" %>
    </div>
    <% end %>
    <div>
        <h3 class="font-ibm">
            Do you need to delete this article?
        </h3>
        <div class="post-btn-area">
            <%= link_to post_path(@post.id),method: :delete, data: { confirm: "Are you sure you want to remove this post?" } do %>
            <button class="btn-f">
                Delete this post
            </button>
            <% end %>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-language_tools.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/snippets/markdown.min.js"></script>
<%= javascript_pack_tag "editor" %>