<% content_for(:html_title) { '記事の新規作成' } %>
<div class="editor-area">
    <%= form_with model: @post,method: "patch" do |f| %>
    <%= f.text_field :title,class: "editor-post-title", placeholder: "Title" %>
    <%= f.text_field :tags,class: "tag-field", placeholder: "#tag" %>
    <%= f.text_field :thumbnail,class: "tag-field", placeholder: "Input template:(name) or thumbnail image url" %>
    <%= f.text_field :name,class: "tag-field",id: "post-name", placeholder: "/posts/xxx" %>
    <div class="editor-tab">
        <button type="button" class="active" id="editor_button">
            Editor
        </button>
        <button type="button" id="preview">
            Preview
        </button>
    </div>
    <div id="editor"></div>
    <div class="content-preview">
    preview
    </div>
    <%= f.hidden_field :content,id: "editor_value" %>
    <div class="post-btn-area">
    <%= f.submit "Post",class:"post-btn" %>
    </div>
    <% end %>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-language_tools.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/snippets/markdown.min.js"></script>
<script src="https://cdn.rawgit.com/chjj/marked/master/marked.min.js"></script>
<%= javascript_pack_tag "editor" %>