<% content_for(:html_title) { @post.title } %>
<%= image_tag @post.thumbnail,class: "post-thumbnail" %>
<div class="font-ibm created_at post-show-created_at">
    <%= @post.created_at.to_s(:long) %>
</div>
<h1 class="post-title font-inter">
    <% if @post.title.include?("\n") %>
    <%= raw(@post.title.gsub!("\n","<br>")) %>
    <% else %>
    <%= @post.title %>
    <% end %>
</h1>
<div class="font-ibm tags">
    <% @post.tags.split().each do |tag| %>
    <%= link_to tag_path(tag) do %>
    <span class="tag font-bim">
        #<%= tag %>
    </span>
    <% end %>
    <% end %>
</div>
<div class="content-area font-inter">
    <%= markdown(@post.content).html_safe %>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/highlight.min.js"></script>
<script>
    document.querySelectorAll("p code").forEach(function (block, i, ar) {
        hljs.highlightBlock(block);
    });
</script>