<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <% if content_for(:html_title) ? yield(:html_title) : "" != "" %>
    <%= content_for?(:html_title) ? yield(:html_title) : "" %> - The Lusaca Blog
    <% else %>
    The Lusaca Blog
    <% end %>
  </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,700&display=swap"
    rel="stylesheet" media="print" onload="this.media='all'">
  <link href="https://rsms.me/inter/inter.css" rel="stylesheet" media="print" onload="this.media='all'">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% if controller_name == "posts" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/styles/vs2015.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/highlight.min.js"></script>
  <% end %>
</head>

<body>
  <header>
    <div class="header-main">
      <div class="logo-area">
        <%= link_to  root_path do %>
        <span class="logo">
          The Lusaca Blog
        </span>
        <% end %>
      </div>
      <nav>
        <ul>
          <%= link_to root_path do %>
          <li>
            <span>
              Home
            </span>
          </li>
          <% end %>
          <%= link_to posts_path do %>
          <li>
            <span>
              All Posts
            </span>
          </li>
          <% end %>
          <%= link_to root_path do %>
          <li>
            <span>
              About
            </span>
          </li>
          <% end %>
          <%= link_to root_path do %>
          <li>
            <span>
              Diary
            </span>
          </li>
          <% end %>
          <%= link_to root_path do %>
          <li>
            <span>
              Tags
            </span>
          </li>
          <% end %>
        </ul>
        <div class="find_posts_area">
          <input type="text" placeholder="Search...">
        </div>
      </nav>

      <div class="menu-area">
        <button id="menu-button">
          <ion-icon name="menu-outline"></ion-icon>
        </button>
      </div>
    </div>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <div class="footer-logo-area">
      <span class="logo">
        The Lusaca Blog
      </span>
    </div>
    <div class="copyright">
      &copy; 2020 Lusaca
    </div>
  </footer>
  <%= javascript_pack_tag "main" %>
  <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>

</html>